.fur-user-menu {
  position: relative;
}

.fur-user-menu > button {
  padding: 5px 10px;
  background: #fff;
}

.fur-user-menu > button > img {
  float: left;
  width: 23px;
  height: 23px;
  border-radius: 23px;
}

.fur-user-menu > button > span {
  display: inline-block;
  padding: 4px 5px 4px 10px;
}

.fur-user-menu > button > i {
  position: relative;
  top: 1px;
  font-size: 18px;
  margin-left: 7px;
  color: #c7c8ce;
}

.fur-user-menu > .fur-navigation-items {
  display: none;
}

.fur-user-menu.fur-user-menu-open > .fur-navigation-items {
  display: block;
  position: absolute;
  right: 0;
  position: absolute;
  background: #fff;
  margin: 5px 0 0;
  padding: 10px;
  box-shadow: none;
  min-width: 200px;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.06);
  border-radius: 3px;
}

.fur-user-menu.fur-user-menu-open > .fur-navigation-items:before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  height: 5px;
  background: transparent;
  bottom: 100%;
}
