.fur-modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1001;
  overflow: scroll;
  padding: 68px 0;
}

.fur-modal-header {
  padding: 20px;
  border-bottom: 1px solid var(--black-light);

}

.fur-modal-header h1,
.fur-modal-header h2,
.fur-modal-header h3,
.fur-modal-header h4,
.fur-modal-header h5,
.fur-modal-header h6 {
  float: left;
  font-size: 18px;
  color: var(--black);
  font-weight: 400;
  margin: 0;
}

.fur-modal-close-icon {
  position: fixed;
  right: 20px;
  top: 20px;
  width: 25px;
  height: 25px;
  z-index: 99999;
  pointer-events: none;
}

.fur-modal-close-icon:hover {
  cursor: pointer;
}

.fur-modal-close-icon:before, .fur-modal-close-icon:after {
  position: absolute;
  left: 15px;
  content: ' ';
  height: 25px;
  width: 2px;
  background-color: #fff;
}

.fur-modal-close-icon:before {
  transform: rotate(45deg);
}

.fur-modal-close-icon:after {
  transform: rotate(-45deg);
}

.fur-modal.fur-modal-size-medium .fur-modal-content {
  max-width: 768px;
}

.fur-modal.fur-modal-size-large .fur-modal-content {
  max-width: 925px;
}

.fur-modal-content {
  position: relative;
  z-index: 1000;
  background: #fff;
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
  border-radius: 3px;
  box-shadow: 0 0 5px 0px rgba(0, 0, 0, 0.04);
}

.fur-modal-open {
  display: block;
}

.fur-modal-mask {
  position: fixed;
  background: rgba(135, 151, 178, 0.75);
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 999;
  width: 100%;
}

.fur-modal-body {
  padding: 20px;
}

.fur-modal-footer {
  padding: 20px;
  border-top: 1px solid var(--black-light);
}

.fur-modal-footer .fur-button {
  float: right;
  margin-left: 10px;
}

@media screen and (min-width: 768px) {
  .fur-modal {
    padding: 50px;
  }
}
