.fur-page-header {
  display: flex;
  align-items: center;
  margin: 20px 0;
  min-height: 42px;
}

.fur-page-header > .fur-page-header-action {
  margin-left: auto;
}

@media screen and (min-width: 992px) {
  .fur-page-header {
    margin: 40px 0;
  }
}
